*{
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
}

body{
    font-size: 1.6rem;
    background: linear-gradient(45deg, #461c26 0%, #b73235 100%);
    background-repeat: no-repeat; 
    height:100%;

}

h1,h2,h3, .price{
    font-family: 'Luckiest Guy', sans-serif;
    text-transform: uppercase;
    color: rgba(251,255,255,255);
}



#bloco{

    width:100%;
    height:100%;
}


ul{
    list-style:none;
    margin-top:5%;
    margin-bottom:5%;
}

ul li{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    gap:120px
}

li .detalhes{
    max-width: 240px;
}

.detalhes h3{
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 19px;
}

.detalhes p{
    color: rgba(255, 255, 255, 0.6));
    font-family: 'Luckiest Guy', cursive;
}

#caixa {
    width: 40%;
    height:25px;
    background: #ffbd59;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

@media only screen and (max-width: 600px) {
    body{
        min-height: 100vh
    }

    #caixa {
        background: rgba(255, 255, 255, 0);
    }

    #bloco{
        width:90%;
        margin-top:5%;
        margin-left:5%;
        align-items:center;
    }

 
    h2{
        background-color: rgba(253,204,49,255);
        color: rgb(165,51,52);
        text-align: center;
        border-radius:2px;
        width: 100%;
        box-shadow: 5px 5px rgba(70,45,41,255);
        transform: rotate(-2deg)
    }

    .detalhes h3{
        margin-bottom: 8px;
        font-size: 16px;
        line-height: 19px;
    }
    p{
        font-size: 14px;
        font-family: 'Luckiest Guy', cursive;
    }
  }
